body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

div{
  width: 170px;
  height: 50px;
  padding: 10px 5px;
  margin: 0 5px;
  display: inline-block;
  text-align: left;
}

div:nth-child(1){
  background-color: rgb(255, 255, 0);
}

div:nth-child(2){
  background-color: rgb(237, 34, 81);
}

div:nth-child(3){
  background-color: rgb(255, 255, 0);
  text-transform: uppercase;
}
