body{
  font-family: 'Raleway', sans-serif;
}
div{
  width: 160px;
  height: 50px;
  padding: 10px 5px;
  margin: 20px auto;
}

div:nth-child(1){
  background-color: rgb(255, 255, 0);
}

div:nth-child(2){
  background-color: rgb(237, 34, 81);
}

div:nth-child(3){
  background-color: rgb(255, 255, 0);
  text-transform: uppercase;
}
